<html>

<head>

<script src="angular.js"></script>
<script src="assigmentModule1.js"></script>
</head>

<body ng-app="assignmentApp1">

	<div ng-controller="simpleController">
	<script>var averageMarks = 0;</script>
		<div>Name  : <input type="text" ng-model="name"  id="name" /></div>
		<div>Mark 1: <input type="text" ng-model="mark1" id="mark1" /></div>
		<div>Mark 2: <input type="text" ng-model="mark2" id="mark2" /></div>		
		<div>Mark 3: <input type="text" ng-model="mark3" id="mark3" /></div>
		
		<div><input type="button" value="Update Info" ng-click="updateStudentDetails()" /></div>
		<div id="output">Name:{{name}}, Average Marks: {{averageMarks}}</div>
	</div>

</body>
</html>