<html>
    <head>
        <script src="angular.js"></script>
        <script src="student.js"></script>
   
    </head>
    
    <body>
<div ng-controller="studentController">
    <form name="addStudentForm" class="css-form" >
    <br/><br/><br/>
    <table align="center">
				<tr>
					<th colspan="2" align="center">Enter the below details</th>
				</tr>
				<tr>
					<td>Name</td>
					<td><input type="text" name="nameVal" ng-model="student.nameVal"
						required /> <span style="color: red"
						ng-show="addStudentForm.nameVal.$dirty && addStudentForm.nameVal.$invalid">
							<span ng-show="addStudentForm.nameVal.$error.required">Student
								Name is required.</span>
					</span></td>
				</tr>
				<tr>
					<td>Student Id</td>
					<td><input type="number" name="id" ng-model="student.id"
						min="0" max="100" required /> <span style="color: red"
						ng-show="addStudentForm.id.$dirty && addStudentForm.id.$invalid">
							<span ng-show="addStudentForm.id.$error.required">Student Id
								is required.</span>
					</span></td>
				</tr>
				<tr>
					<td>Age</td>
					<td><input type="number" name="mark2Val" ng-model="student.age"
						min="3" max="100" required /> <span style="color: red"
						ng-show="addStudentForm.age.$dirty && addStudentForm.age.$invalid">
							<span ng-show="addStudentForm.age.$error.required">Age
								is required.</span>
					</span></td>
				</tr>
				
				<tr>
					<td colspan="2"><input type="submit" value="Save"
						ng-click="update(student)"
						ng-disabled="addStudentForm.nameVal.$dirty && addStudentForm.nameVal.$invalid ||  
										addStudentForm.id.$dirty && addStudentForm.id.$invalid ||  
										addStudentForm.age.$dirty && addStudentForm.age.$invalid " />
					</td>
				</tr>
			</table>
    
    
    
    </form>
    
</div>


</body>
</html>

